extends ../templates/default.pug

block content
  .text-center
    .jumbotron.my-4
      h1 tarsis.cc
    .row
      .col-sm-12.col-md-3.mb-4
        .card
          .card-body
            p.title Unique
            p Find the unique char
            a.link(href="http://unique.tarsis.cc") unique.tarsis.cc
      .col-sm-12.col-md-3.mb-4
        .card
          .card-body
            p.title Sort
            p Sort the numbers
            a.link(href="http://sort.tarsis.cc") sort.tarsis.cc
      .col-sm-12.col-md-3.mb-4
        .card
          .card-body
            p.title Draw
            p Draw anything
            a.link(href="http://draw.tarsis.cc") draw.tarsis.cc
      .col-sm-12.col-md-3.mb-4
        .card
          .card-body
            p.title Cento
            p Percent is not easy
            a.link(href="http://cento.tarsis.cc") cento.tarsis.cc
      .col-sm-12.col-md-3.mb-4
        .card
          .card-body
            p.title Empresa
            p A hieraquia da empresa
            a.link(href="http://empresa.tarsis.cc") empresa.tarsis.cc
      .col-sm-12.col-md-3.mb-4
        .card
          .card-body
            p.title Numbers
            p Find unique numbers
            a.link(href="http://numbers.tarsis.cc") numbers.tarsis.cc
      .col-sm-12.col-md-3.mb-4
        .card
          .card-body
            p.title Nume
            p Não toque nos mesmos
            a.link(href="http://nume.tarsis.cc") nume.tarsis.cc
      .col-sm-12.col-md-3.mb-4
        .card
          .card-body
            p.title JSON
            p Cole o JSON
            a.link(href="http://json.tarsis.cc") json.tarsis.cc
